body {
  margin: 0;
  font-family: 'Gilroy-Light', sans-serif;
  text-align: center;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.font-bold {
  font-family: 'Gilroy-ExtraBold', sans-serif;
  font-size: 20px;
  text-transform: none;
}

.font-uppercase {
  font-family: 'Gilroy-Light', sans-serif;
  color: #6f729c;
  text-transform: uppercase;
  font-size: 14px;
}

.font-black {
  font-family: 'Gilroy-Light', sans-serif;
  color: #1b1b1b;
  font-size: 16px;
  text-transform: none;
}

h1, h2 {
  font-size: inherit;
  margin: 0;
}

p {
  margin: 0;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button {
  overflow: visible;
  /* 1 */
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button {
  text-transform: none;
  /* 1 */
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
}

button:focus {
  border: none;
  outline: none;
}